:root {
	--bs-font-sans-serif: system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue',
		'Noto Sans', 'Liberation Sans', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
		'Segoe UI Symbol', 'Noto Color Emoji';
	--bs-font-monospace: SFMono-Regular, Menlo, Monaco, Consolas, 'Liberation Mono', 'Courier New',
		monospace;
	--bs-gradient: linear-gradient(180deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0));
	--bs-body-font-family: Roboto Slab, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
		Helvetica Neue, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol,
		Noto Color Emoji;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

@media (prefers-reduced-motion: no-preference) {
	:root {
		scroll-behavior: smooth;
	}
}

body {
	margin: 0;
	font-family: var(--bs-body-font-family);
}

h1,
.h1 {
	font-size: calc(1.375rem + 1.5vw);
}
@media (min-width: 1200px) {
	h1,
	.h1 {
		font-size: 2.5rem;
	}
}

h2,
.h2 {
	font-size: calc(1.325rem + 0.9vw);
}
@media (min-width: 1200px) {
	h2,
	.h2 {
		font-size: 2rem;
	}
}

h3,
.h3 {
	font-size: calc(1.3rem + 0.6vw);
}
@media (min-width: 1200px) {
	h3,
	.h3 {
		font-size: 1.75rem;
	}
}

h4,
.h4 {
	font-size: calc(1.275rem + 0.3vw);
}
@media (min-width: 1200px) {
	h4,
	.h4 {
		font-size: 1.5rem;
	}
}

h5,
.h5 {
	font-size: 1.25rem;
}

h6,
.h6 {
	font-size: 1rem;
}

.navbar {
	transition: background-color .5s ease-in-out;
	background-color: hsla(0, 0%, 20%, 0.6);
}

.navbar-brand,
.nav-link {
	color: white;
}

.navbar-toggler {
	border-color: white;
	color: white;
}

.nav-link:hover {
	color: white;
}

@media (max-width: 768px) {
	.navbar {
		background-color: hsl(0, 0%, 20%);
	}
	.nav-link {
		color: white;
	}

	.navbar-toggler {
		border-color: white;
		color: white;
	}
}

@media (min-width: 768px) {
	.nav-item {
		position: relative;
	}

	.nav-item > .nav-link::after {
		content: '';
		position: absolute;
		left: 0;
		display: flex;
		height: 3px;
		width: 100%;
		border-radius: 4px;
		background-color: white;
		bottom: 20px;
		opacity: 0;
		transition: opacity 0.3s ease-in-out, bottom 0.3s ease-in-out;
	}

	.nav-item:hover > .nav-link::after {
		opacity: 1;
		bottom: 0;
	}
}

.scrolled-navbar,
.background-navbar {
	background-color: hsla(0, 0%, 20%, 1);
}

.carousel .carousel-inner img {
	height: 100vh;
}

.carousel .carousel-inner .carousel-item .carousel-item-background {
	content: '';
	height: 100vh;
	width: 100vw;
	position: absolute;
	background-color: hsla(0, 0%, 0%, 0.2);
}

.carousel-control-prev,
.carousel-control-next {
	z-index: 2;
}

.masthead {
	position: absolute;
	z-index: 1;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 100%;
}

.masthead .container {
	display: flex;
	align-items: center;
	justify-content: center;
}
.masthead .container .container-masthead {
	background-color: rgba(19, 19, 19, 0.9);
	text-align: center;
	padding: 2rem;
	border-radius: 0.6rem;
}

.masthead-heading,
.masthead-subheading {
	color: hsl(0, 0%, 95%);
}

.container-image-btn {
	border: none;
	padding: 0;
	width: 100%;
}

.container-image-btn:hover .btn-card-play {
	opacity: 1;
}

.btn-card-play {
	opacity: 0;
	top: 50%;
	left: 50%;
	font-size: 3rem;
	transition: opacity 0.3s ease-in-out;
	transform: translate(-50%, -50%);
}

/* vista contáctos*/
.banner-contacto {
    background: linear-gradient(
        rgba(0, 0, 0, 0.5), 
        rgba(0, 0, 0, 0.5)
    ),
    url('https://images.unsplash.com/photo-1525182008055-f88b95ff7980?auto=format&fit=crop&w=1400&q=80') 
    no-repeat center center;
    
    background-size: cover;
    padding-top: 75px;
  padding-right: 30px;
  padding-bottom: 50px;
  padding-left: 80px;
}

.parrafo {
	font-size: 22px;
	font-family: Arial;
}

.form-control {
	border: 2px solid;
  border-radius: 10px;
}

.creadores img{
	width: 50%;
	height: 50%;
	border-radius: 20%;
	object-fit: cover;
	margin-bottom: 10px;
}

.creadores {
	border-radius: 10px;
	padding: 20px;
	width: 1000px;
	box-shadow: 0 8px 9px rgba(0, 0, 0, 0.5);
}

.creadores h2{
	font-size: 30px;
	margin: 10px 0 5px;
	
}

.creadores p{
	font-size: 30px;
	color: rgb(139, 170, 238);
	
}

.creadores-container{
	display: flex;
	justify-content: center;
	flex-grow: wrap;
	gap: 30px;
	margin: 50px;

}