:root {
	--bs-font-sans-serif: system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue',
		'Noto Sans', 'Liberation Sans', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
		'Segoe UI Symbol', 'Noto Color Emoji';
	--bs-font-monospace: SFMono-Regular, Menlo, Monaco, Consolas, 'Liberation Mono', 'Courier New',
		monospace;
	--bs-gradient: linear-gradient(180deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0));
	--bs-body-font-family: Roboto Slab, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
		Helvetica Neue, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol,
		Noto Color Emoji;
}
html {
	scroll-behavior: smooth;
  }
*,
*::before,
*::after {
	box-sizing: border-box;
}

@media (prefers-reduced-motion: no-preference) {
	:root {
		scroll-behavior: smooth;
	}
}

body {
	margin: 0;
	font-family: var(--bs-body-font-family);
}

h1,
.h1 {
	font-size: calc(1.375rem + 1.5vw);
}
@media (min-width: 1200px) {
	h1,
	.h1 {
		font-size: 2.5rem;
	}
}

h2,
.h2 {
	font-size: calc(1.325rem + 0.9vw);
}
@media (min-width: 1200px) {
	h2,
	.h2 {
		font-size: 2rem;
	}
}

h3,
.h3 {
	font-size: calc(1.3rem + 0.6vw);
}
@media (min-width: 1200px) {
	h3,
	.h3 {
		font-size: 1.75rem;
	}
}

h4,
.h4 {
	font-size: calc(1.275rem + 0.3vw);
}
@media (min-width: 1200px) {
	h4,
	.h4 {
		font-size: 1.5rem;
	}
}

h5,
.h5 {
	font-size: 1.25rem;
}

h6,
.h6 {
	font-size: 1rem;
}

@media (max-width: 768px) {
	.navbar {
		background-color: hsl(0, 0%, 20%);
	}
	.nav-link {
		color: white;
	}

	.navbar-toggler {
		border-color: white;
		color: white;
	}
}

.masthead-subheading {
	color: hsl(0, 0%, 20%);
}

.carousel .carousel-inner img {
	height: 100vh;
}

.carousel .carousel-inner .carousel-item .carousel-item-background {
	content: '';
	height: 100vh;
	width: 100vw;
	position: absolute;
	background-color: hsla(0, 0%, 0%, 0.2);
}

.carousel-control-prev,
.carousel-control-next {
	z-index: 2;
}

.masthead {
	position: absolute;
	z-index: 1;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 100%;
}

.masthead .container {
	text-align: center;
}
header.masthead {
    background-image: url('assets/portada-cine.jpg');
    background-size: cover;
    background-position: center;
    color: white;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.7);
}
.about-section {
    background: #8E0E00; /* Fallback para navegadores antiguos */
    background: -webkit-linear-gradient(to right, #1F1C18, #8E0E00); /* Para navegadores antiguos como Chrome 10-25 y Safari 5.1-6 */
    background: linear-gradient(to right, #1F1C18, #8E0E00); /* Degradado para navegadores modernos */
    color: #ffffff; /* Texto blanco para contraste */
    padding-top: 4rem;
    padding-bottom: 4rem;
}